body {
    margin: 0;
}

// Remove excess spacing on tables.
table {
    border-spacing: 0;
}

// Use the full width of the page for content.
#hnmain {
    width: 100%;
}

.comment {
    &:hover {
        border-color: #999;

        // Avoid changing the background-color, especially to a darker closer
        // which would create less contrast with the text.
        // background-color: rgba(0, 0, 0, .05);
    }

    // outline: 1px solid blue;

    border: 3px solid transparent;
    border-radius: 2px;
    padding: 9px 9px 12px;
}

// Hide reply to save on vertical space.
.reply {
    display: none;
}

._hn-nav {
    bottom: 1em;
    display: table;
    position: fixed;
    right: 1em;

    ._hn-arrow-wrapper {
        &:nth-child(1) {
            position: relative;
            top: 2px;
        }

        display: table-row;

        ._hn-arrow {
            display: table-cell;
            text-align: center;
            vertical-align: middle;

            button {
                &:hover {
                    background-color: rgba(0, 0, 0, .1);
                }

                background-color: transparent;
                border-color: transparent;
                border-style: dashed;
                color: rgba(0, 0, 0, .2);
                font-size: 300%;
                height: 100px;
                width: 100px;
            }
        }

        ._hn-page-up {
            button {
                border-right-color: rgba(0, 0, 0, .2);
                border-bottom-color: rgba(0, 0, 0, .2);
            }
        }

        ._hn-page-down {
            button {
                border-right-color: rgba(0, 0, 0, .2);
            }
        }
    }
}

// Style for browsers larger than 500px.
@media only screen and (min-width: 500px) {
    ._hn-nav {
        display: none;
    }
}
