.comment {
  border: 1px solid transparent;
  border-radius: 2px;
}
.comment:hover {
  border-color: #ccc;
  background-color: rgba(0, 0, 0, 0.05);
}

._hn-nav {
  bottom: 1em;
  display: table;
  position: fixed;
  right: 1em;
}
._hn-nav ._hn-arrow-wrapper {
  display: table-row;
}
._hn-nav ._hn-arrow-wrapper:nth-child(1) {
  position: relative;
  top: 2px;
}
._hn-nav ._hn-arrow-wrapper ._hn-arrow {
  color: #666665;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
._hn-nav ._hn-arrow-wrapper ._hn-arrow button {
  background-color: transparent;
  border: 2px dashed #333;
  font-size: 300%;
  height: 100px;
  width: 100px;
}
._hn-nav ._hn-arrow-wrapper ._hn-arrow button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
._hn-nav ._hn-arrow-wrapper ._hn-page-up {
  border-bottom-width: 4px;
  border-bottom-color: #ccc;
}
._hn-nav ._hn-arrow-wrapper ._hn-page-down {
  border-top-width: 4px;
  border-top-color: #ccc;
}

@media only screen and (min-width: 500px) {
  ._hn-nav {
    display: none;
  }
}
