body {
  margin: 0;
}

table {
  border-spacing: 0;
}
table td {
  padding-bottom: 0;
  padding-top: 0;
}

#hnmain {
  width: 100%;
}

#comment-tree {
  border-collapse: collapse;
}

.comment {
  border: 3px solid transparent;
  border-radius: 2px;
  margin-left: -16px;
  padding: 9px 9px 12px;
}
.comment:hover {
  border-color: #999;
}

img[width="40"] {
  width: 20px;
}

img[width="80"] {
  width: 60px;
}

img[width="120"] {
  width: 100px;
}

img[width="160"] {
  width: 140px;
}

img[width="200"] {
  width: 180px;
}

img[width="240"] {
  width: 220px;
}

img[width="280"] {
  width: 260px;
}

img[width="320"] {
  width: 300px;
}

img[width="360"] {
  width: 340px;
}

img[width="400"] {
  width: 380px;
}

.reply {
  display: none;
}

._hn-nav {
  bottom: 1em;
  display: table;
  position: fixed;
  right: 1em;
}
._hn-nav ._hn-arrow-wrapper {
  display: table-row;
}
._hn-nav ._hn-arrow-wrapper:nth-child(1) {
  position: relative;
  top: 2px;
}
._hn-nav ._hn-arrow-wrapper ._hn-arrow {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
._hn-nav ._hn-arrow-wrapper ._hn-arrow button {
  background-color: transparent;
  border-color: transparent;
  border-style: dashed;
  color: rgba(0, 0, 0, 0.2);
  font-size: 300%;
  height: 100px;
  width: 100px;
}
._hn-nav ._hn-arrow-wrapper ._hn-arrow button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
._hn-nav ._hn-arrow-wrapper ._hn-page-up button {
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
._hn-nav ._hn-arrow-wrapper ._hn-page-down button {
  border-right-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 500px) {
  ._hn-nav {
    display: none;
  }
}
