.TO.nZ .nU > .n0 {
  color: #dd4b39 !important;
}

.TO .nU > .n0 {
  -webkit-font-smoothing: auto !important;
  color: #222 !important;
  font-family: arial, sans-serif !important;
  font-size: 12.8px !important;
  letter-spacing: 0 !important;
}

.qj {
  opacity: 0 !important;
}

div > .aeN,
.wT {
  max-width: none !important;
  min-width: auto !important;
}

.Wr > .Wn {
  -webkit-font-smoothing: auto !important;
  color: #222 !important;
  font-family: arial, sans-serif !important;
  font-size: 15px !important;
  letter-spacing: 0 !important;
}

.Wo,
.Wo-A8 {
  transform: rotate(-90deg);
}

.Wq,
.Wq-A8 {
  transform: rotate(180deg);
}

.yO {
  background-color: rgba(243, 243, 243, 0.85) !important;
}

.yW {
  -webkit-font-smoothing: auto !important;
  color: #222 !important;
  font-family: arial, sans-serif !important;
  font-size: 12.8px !important;
  letter-spacing: 0 !important;
}

.zA > .a4W {
  -webkit-font-smoothing: auto !important;
  font-family: arial, sans-serif !important;
  font-size: 12.8px !important;
  letter-spacing: 0 !important;
}

.ar {
  -webkit-border-radius: 0 !important;
  -webkit-font-smoothing: auto !important;
  border-radius: 0 !important;
  font-family: arial, sans-serif !important;
  font-size: 11px !important;
  letter-spacing: 0 !important;
}
