.ii {
  font-family: consolas, monospace !important;
  font-size: medium;
}
.ii div,
.ii font {
  font-family: consolas, monospace !important;
  font-size: medium;
}
.ii span[style] {
  font-size: medium !important;
}
.ii img[width] {
  max-width: 768px !important;
  height: auto;
}
