    // calendar_color => none.
    &[style="background-color: rgb(66, 133, 244);"],
    &[style="background-color:#4285F4;"] {
        background-color: #a2c8e7 !important;
    }
    // blueberry => bold blue.
    &[style="background-color: rgb(63, 81, 181);"],
    &[style="background-color:#3F51B5;"] {
        background-color: #5b89ed !important;
    }
    // lavender => blue.
    &[style="background-color: rgb(121, 134, 203);"],
    &[style="background-color:#7986CB;"] {
        background-color: #a4bdfc !important;
    }
    // peacock => turquoise.
    &[style="background-color: rgb(3, 155, 229);"],
    &[style="background-color:#039BE5;"] {
        background-color: #46d6db !important;
    }
    // sage => green.
    &[style="background-color: rgb(51, 182, 121);"],
    &[style="background-color:#33B679;"] {
        background-color: #7ae7bf !important;
    }
    // basil => bold green.
    &[style="background-color: rgb(11, 128, 67);"],
    &[style="background-color:#0B8043;"] {
        background-color: #51b749 !important;
    }
    // banana => yellow.
    &[style="background-color: rgb(246, 191, 38);"],
    &[style="background-color:#F6BF26;"] {
        background-color: #fbd75b !important;
    }
    // tangerine => orange.
    &[style="background-color: rgb(244, 81, 30);"],
    &[style="background-color:#F4511E;"] {
        background-color: #ffb878 !important;
    }
    // flamingo => red.
    &[style="background-color: rgb(230, 124, 115);"],
    &[style="background-color:#E67C73;"] {
        background-color: #ff887c !important;
    }
    // tomato => bold red.
    &[style="background-color: rgb(213, 0, 0);"],
    &[style="background-color:#D50000;"] {
        background-color: #dc2127 !important;
    }
    // grape => purple.
    &[style="background-color: rgb(142, 36, 170);"],
    &[style="background-color:#8E24AA;"] {
        background-color: #dbadff !important;
    }
    // graphite => gray.
    &[style="background-color: rgb(97, 97, 97);"],
    &[style="background-color:#616161;"] {
        background-color: #e1e1e1 !important;
    }
