    // calendar_color => none.
    &[style="background-color: rgb(198, 218, 252);"],
    &[style="background-color:#C6DAFC;"] {
        background-color: #e3e3ff !important;
    }
    // blueberry => bold blue.
    &[style="background-color: rgb(197, 203, 233);"],
    &[style="background-color:#C5CBE9;"] {
        background-color: #dde6fb !important;
    }
    // lavender => blue.
    &[style="background-color: rgb(215, 219, 239);"],
    &[style="background-color:#D7DBEF;"] {
        background-color: #e4ebfe !important;
    }
    // peacock => turquoise.
    &[style="background-color: rgb(179, 225, 247);"],
    &[style="background-color:#B3E1F7;"] {
        background-color: #c7f3f4 !important;
    }
    // sage => green.
    &[style="background-color: rgb(194, 233, 215);"],
    &[style="background-color:#C2E9D7;"] {
        background-color: #d7f8ec !important;
    }
    // basil => bold green.
    &[style="background-color: rgb(182, 217, 199);"],
    &[style="background-color:#B6D9C7;"] {
        background-color: #dcf1db !important;
    }
    // banana => yellow.
    &[style="background-color: rgb(252, 236, 190);"],
    &[style="background-color:#FCECBE;"] {
        background-color: #fef3cd !important;
    }
    // tangerine => orange.
    &[style="background-color: rgb(252, 203, 188);"],
    &[style="background-color:#FCCBBC;"] {
        background-color: #ffead6 !important;
    }
    // flamingo => red.
    &[style="background-color: rgb(248, 216, 213);"],
    &[style="background-color:#F8D8D5;"] {
        background-color: #ffdbd7 !important;
    }
    // tomato => bold red.
    &[style="background-color: rgb(242, 179, 179);"],
    &[style="background-color:#F2B3B3;"] {
        background-color: #f8d3d4 !important;
    }
    // grape => purple.
    &[style="background-color: rgb(221, 189, 230);"],
    &[style="background-color:#DDBDE6;"] {
        background-color: #f4e6ff !important;
    }
    // graphite => gray.
    &[style="background-color: rgb(208, 208, 208);"],
    &[style="background-color:#D0D0D0;"] {
        background-color: #f6f6f6 !important;
    }
