    // calendar_color => none.
    &[style*="rgb(198, 218, 252)"],
    &[style*="#c6dafc"] {
        background-color: #e3e3ff !important;
    }
    // blueberry => bold blue.
    &[style*="rgb(197, 203, 233)"],
    &[style*="#c5cbe9"] {
        background-color: #dde6fb !important;
    }
    // lavender => blue.
    &[style*="rgb(215, 219, 239)"],
    &[style*="#d7dbef"] {
        background-color: #e4ebfe !important;
    }
    // peacock => turquoise.
    &[style*="rgb(179, 225, 247)"],
    &[style*="#b3e1f7"] {
        background-color: #c7f3f4 !important;
    }
    // sage => green.
    &[style*="rgb(194, 233, 215)"],
    &[style*="#c2e9d7"] {
        background-color: #d7f8ec !important;
    }
    // basil => bold green.
    &[style*="rgb(182, 217, 199)"],
    &[style*="#b6d9c7"] {
        background-color: #dcf1db !important;
    }
    // banana => yellow.
    &[style*="rgb(252, 236, 190)"],
    &[style*="#fcecbe"] {
        background-color: #fef3cd !important;
    }
    // tangerine => orange.
    &[style*="rgb(252, 203, 188)"],
    &[style*="#fccbbc"] {
        background-color: #ffead6 !important;
    }
    // flamingo => red.
    &[style*="rgb(248, 216, 213)"],
    &[style*="#f8d8d5"] {
        background-color: #ffdbd7 !important;
    }
    // tomato => bold red.
    &[style*="rgb(242, 179, 179)"],
    &[style*="#f2b3b3"] {
        background-color: #f8d3d4 !important;
    }
    // grape => purple.
    &[style*="rgb(221, 189, 230)"],
    &[style*="#ddbde6"] {
        background-color: #f4e6ff !important;
    }
    // graphite => gray.
    &[style*="rgb(208, 208, 208)"],
    &[style*="#d0d0d0"] {
        background-color: #f6f6f6 !important;
    }
