    // calendar_color => none.
    &[style="background-color:#c6dafc;"] {
        background-color: #e3e3ff !important;
    }
    // blueberry => bold blue.
    &[style="background-color:#c5cbe9;"] {
        background-color: #dde6fb !important;
    }
    // lavender => blue.
    &[style="background-color:#d7dbef;"] {
        background-color: #e4ebfe !important;
    }
    // peacock => turquoise.
    &[style="background-color:#b3e1f7;"] {
        background-color: #c7f3f4 !important;
    }
    // sage => green.
    &[style="background-color:#c2e9d7;"] {
        background-color: #d7f8ec !important;
    }
    // basil => bold green.
    &[style="background-color:#b6d9c7;"] {
        background-color: #dcf1db !important;
    }
    // banana => yellow.
    &[style="background-color:#fcecbe;"] {
        background-color: #fef3cd !important;
    }
    // tangerine => orange.
    &[style="background-color:#fccbbc;"] {
        background-color: #ffead6 !important;
    }
    // flamingo => red.
    &[style="background-color:#f8d8d5;"] {
        background-color: #ffdbd7 !important;
    }
    // tomato => bold red.
    &[style="background-color:#f2b3b3;"] {
        background-color: #f8d3d4 !important;
    }
    // grape => purple.
    &[style="background-color:#ddbde6;"] {
        background-color: #f4e6ff !important;
    }
    // graphite => gray.
    &[style="background-color:#d0d0d0;"] {
        background-color: #f6f6f6 !important;
    }
