.g3dbUc.jKgTF {
  border-radius: unset;
  border: 1px solid #373ad7;
  color: #1d1d1d;
  font-family: Arial, sans-serif;
}
.g3dbUc.jKgTF[style="background-color: rgb(66, 133, 244);"], .g3dbUc.jKgTF[style="background-color:#4285F4;"] {
  background-color: #a2c8e7 !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(63, 81, 181);"], .g3dbUc.jKgTF[style="background-color:#3F51B5;"] {
  background-color: #5b89ed !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(121, 134, 203);"], .g3dbUc.jKgTF[style="background-color:#7986CB;"] {
  background-color: #a4bdfc !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(3, 155, 229);"], .g3dbUc.jKgTF[style="background-color:#039BE5;"] {
  background-color: #46d6db !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(51, 182, 121);"], .g3dbUc.jKgTF[style="background-color:#33B679;"] {
  background-color: #7ae7bf !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(11, 128, 67);"], .g3dbUc.jKgTF[style="background-color:#0B8043;"] {
  background-color: #51b749 !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(246, 191, 38);"], .g3dbUc.jKgTF[style="background-color:#F6BF26;"] {
  background-color: #fbd75b !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(244, 81, 30);"], .g3dbUc.jKgTF[style="background-color:#F4511E;"] {
  background-color: #ffb878 !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(230, 124, 115);"], .g3dbUc.jKgTF[style="background-color:#E67C73;"] {
  background-color: #ff887c !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(213, 0, 0);"], .g3dbUc.jKgTF[style="background-color:#D50000;"] {
  background-color: #dc2127 !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(142, 36, 170);"], .g3dbUc.jKgTF[style="background-color:#8E24AA;"] {
  background-color: #dbadff !important;
}
.g3dbUc.jKgTF[style="background-color: rgb(97, 97, 97);"], .g3dbUc.jKgTF[style="background-color:#616161;"] {
  background-color: #e1e1e1 !important;
}

.g3dbUc.UflSff {
  color: #777 !important;
  border: 1px solid #a9abfe;
}
.g3dbUc.UflSff[style*="rgb(198, 218, 252)" i], .g3dbUc.UflSff[style*="#c6dafc" i] {
  background-color: #e3e3ff !important;
}
.g3dbUc.UflSff[style*="rgb(197, 203, 233)" i], .g3dbUc.UflSff[style*="#c5cbe9" i] {
  background-color: #dde6fb !important;
}
.g3dbUc.UflSff[style*="rgb(215, 219, 239)" i], .g3dbUc.UflSff[style*="#d7dbef" i] {
  background-color: #e4ebfe !important;
}
.g3dbUc.UflSff[style*="rgb(179, 225, 247)" i], .g3dbUc.UflSff[style*="#b3e1f7" i] {
  background-color: #c7f3f4 !important;
}
.g3dbUc.UflSff[style*="rgb(194, 233, 215)" i], .g3dbUc.UflSff[style*="#c2e9d7" i] {
  background-color: #d7f8ec !important;
}
.g3dbUc.UflSff[style*="rgb(182, 217, 199)" i], .g3dbUc.UflSff[style*="#b6d9c7" i] {
  background-color: #dcf1db !important;
}
.g3dbUc.UflSff[style*="rgb(252, 236, 190)" i], .g3dbUc.UflSff[style*="#fcecbe" i] {
  background-color: #fef3cd !important;
}
.g3dbUc.UflSff[style*="rgb(252, 203, 188)" i], .g3dbUc.UflSff[style*="#fccbbc" i] {
  background-color: #ffead6 !important;
}
.g3dbUc.UflSff[style*="rgb(248, 216, 213)" i], .g3dbUc.UflSff[style*="#f8d8d5" i] {
  background-color: #ffdbd7 !important;
}
.g3dbUc.UflSff[style*="rgb(242, 179, 179)" i], .g3dbUc.UflSff[style*="#f2b3b3" i] {
  background-color: #f8d3d4 !important;
}
.g3dbUc.UflSff[style*="rgb(221, 189, 230)" i], .g3dbUc.UflSff[style*="#ddbde6" i] {
  background-color: #f4e6ff !important;
}
.g3dbUc.UflSff[style*="rgb(208, 208, 208)" i], .g3dbUc.UflSff[style*="#d0d0d0" i] {
  background-color: #f6f6f6 !important;
}

.zhRc7[aria-hidden="true"] {
  opacity: 0;
}

.ef2wWc {
  background-color: #e0e0e0 !important;
  outline: 3px solid #000;
}

.Mh0NNb {
  background-color: #fce4a6 !important;
  color: #333 !important;
  min-height: auto !important;
  top: 45px;
  bottom: auto !important;
}
.Mh0NNb > div > div {
  padding: 5px 7px;
}
.Mh0NNb .M6tHv [jsaction] {
  color: #333 !important;
  text-decoration: underline;
}

.jfk-button {
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 27px;
  line-height: 27px;
  margin-right: 1em;
  margin-top: 1em;
  min-width: 54px;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}
.jfk-button:nth-of-type(1) {
  margin-left: 1em;
}

.jfk-button-default {
  background-color: #3d9400;
  border: 1px solid #29691d;
  color: #fff;
}

.jfk-button-standard {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  color: #444;
}

.zlaSJd {
  bottom: auto !important;
  right: 1em !important;
  top: 1em;
  z-index: 1000 !important;
}

[aria-label$="Google notifications"] {
  display: none !important;
}

.wGEy5 {
  max-height: initial !important;
}

.jefcFd {
  max-width: initial !important;
  width: 600px !important;
}
