[aria-modal=true][role=dialog][aria-labelledby] {
  border: 5px solid gray;
  bottom: 0;
  top: 0 !important;
  left: 0 !important;
  min-width: 500px;
}
[aria-modal=true][role=dialog][aria-labelledby] [data-dialog-heading-id] {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
[aria-modal=true][role=dialog][aria-labelledby] [data-dialog-heading-id] div:nth-of-type(2) {
  max-height: inherit;
}

[aria-modal=true][role=dialog][aria-labelledby][data-layout-mode=bubble] {
  border: 5px solid gray;
  min-width: 500px;
}
[aria-modal=true][role=dialog][aria-labelledby][data-layout-mode=bubble] [data-eventid] {
  max-width: 500px;
  width: 500px;
}

._gcw-spinner {
  left: 212px;
  pointer-events: none;
  position: absolute;
  top: 18px;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 9999;
  animation: spin 1s linear infinite;
  border-bottom-color: #f3f3f3;
  border-left-color: #f3f3f3;
  border-radius: 50%;
  border-right-color: #f3f3f3;
  border-style: solid;
  border-top-color: #555;
  border-width: 3px;
  height: 25px;
  width: 25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
._gcw-custom-view-switcher {
  position: absolute;
  top: 46px;
  right: 4px;
  z-index: 1000;
}
._gcw-custom-view-switcher a {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 4px;
}
._gcw-custom-view-switcher a:hover {
  background-color: #fff;
  border-color: #dadce0;
}

._gcw-current-date {
  background-color: transparent !important;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 10px 10px 4px 10px;
  pointer-events: none;
  z-index: 4;
}
