.bubble {
  min-width: 800px;
}
.bubble .neb-root .neb-header .neb-rb-default,
.bubble .neb-root .neb-header .neb-rb-color {
  display: none;
}
.bubble .neb-root .neb-header .neb-title {
  box-sizing: border-box;
  padding-right: 20px;
  width: 100%;
}
.bubble .neb-root .neb-header .neb-title .ui-sch-schmedit {
  font-family: consolas, monospace !important;
}
.bubble .neb-root .neb-header .neb-title input {
  font-family: consolas, monospace !important;
}
.bubble .neb-root .neb-popup {
  display: block !important;
  visibility: visible !important;
  border: 0 !important;
  box-shadow: none !important;
  padding: 10px 0 0 0 !important;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}
.bubble .neb-root .neb-popup .neb-popup-tip {
  display: none;
}
.bubble .neb-root .neb-popup .ecp-label {
  display: none;
}
.bubble .neb-root .neb-popup .ecp-rb-default {
  margin-left: 0;
}
.bubble .gcal-textinput {
  font-family: consolas, monospace !important;
}

#calcontent .ep-title .textinput {
  font-family: consolas, monospace !important;
  width: 100%;
}
#calcontent .ep-main .ep-dp {
  width: auto;
}
#calcontent .ep-main .ep-dp .ep-dp-descript textarea.textinput {
  font-family: consolas, monospace !important;
}
#calcontent .st-dtitle {
  font-size: 16px;
}
#calcontent .st-dtitle-today {
  background-color: lime;
  border-left: 1px solid #656565;
  border-top: 1px solid #656565;
}
#calcontent .st-bg-today {
  border-left: 1px solid #656565;
}
#calcontent .st-dtitle-next {
  border-left: 1px solid #656565;
}
#calcontent .st-bg-next {
  border-left: 1px solid #656565;
}
#calcontent .st-dtitle-down {
  border-top: 1px solid #656565;
}
#calcontent .st-grid tr:nth-of-type(14) td > div {
  border-top-color: darkgrey;
  border-top-style: dashed;
  border-top-width: 5px;
}
