// Fixed-width font for Google Calendar.
$font-family: consolas, monospace !important;
$font-size: medium;

// Calendar event popup.
.bubble {
    // Increase minimum width of event popup.
    min-width: 800px;

    .neb-root {
        // Header. Includes event title and event date.
        .neb-header {
            // Hide event color down arrow.
            .neb-rb-default,
            .neb-rb-color {
                display: none;
            }

            .neb-title {
                // Expand title to use available width.
                box-sizing: border-box;
                padding-right: 20px;
                width: 100%;

                // Calendar edit event popup text node.
                .ui-sch-schmedit {
                    font-family: $font-family;
                }

                // Calendar edit event popup text field.
                input {
                    font-family: $font-family;
                }
            }
        }

        // Popup. Includes event color popup.
        .neb-popup {

            // Hide popup arrow up.
            .neb-popup-tip {
                display: none;
            }

            // Always show event color selector.
            display: block !important;
            visibility: visible !important;

            // Remove styles from event color selector.
            border: 0 !important;
            box-shadow: none !important;
            padding: 10px 0 0 0 !important;

            // Reposition event color selector.
            position: relative !important;
            top: 0 !important;
            left: 0 !important;

            // Hide "Choose an event color:" label.
            .ecp-label {
                display: none;
            }

            // Left-align first color.
            .ecp-rb-default {
                margin-left: 0;
            }
        }
    }

    // Calendar create event popup "What:" field.
    .gcal-textinput {
        font-family: $font-family;
    }
}

// Full page new event.
#calcontent {
    // Event title field.
    .ep-title {
        .textinput {
            font-family: $font-family;
            width: 100%;
        }
    }

    // Event description field.
    .ep-dp-descript {
        textarea.textinput {
            font-family: $font-family;
        }
    }

    // Increase contrast for current calendar day.
    $border: 1px solid #656565;
    .st-dtitle-today {
        background-color: #00a1ff;
        border-left: $border;
        border-top: $border;
    }
    .st-bg-today {
        border-left: $border;
    }
    .st-dtitle-next {
        border-left: $border;
    }
    .st-bg-next {
        border-left: $border;
    }
    .st-dtitle-down {
        border-top: $border;
    }
}
