// Fixed-width font for Google Calendar.
$font-family: consolas, monospace !important;
$font-size: medium;

// Calendar event popup.
.bubble {
    // Increase minimum width of event popup.
    min-width: 800px;

    .neb-root {
        // Header. Includes event title and event date.
        .neb-header {
            // Hide event color down arrow.
            .neb-rb-default,
            .neb-rb-color {
                display: none;
            }

            .neb-title {
                // Expand title to use available width.
                box-sizing: border-box;
                padding-right: 20px;
                width: 100%;

                // Calendar edit event popup text node.
                .ui-sch-schmedit {
                    font-family: $font-family;
                }

                // Calendar edit event popup text field.
                input {
                    font-family: $font-family;
                }
            }
        }

        // Popup. Includes event color popup.
        .neb-popup {

            // Hide popup arrow up.
            .neb-popup-tip {
                display: none;
            }

            // Always show event color selector.
            display: block !important;
            visibility: visible !important;

            // Remove styles from event color selector.
            border: 0 !important;
            box-shadow: none !important;
            padding: 10px 0 0 0 !important;

            // Reposition event color selector.
            position: relative !important;
            top: 0 !important;
            left: 0 !important;

            // Hide "Choose an event color:" label.
            .ecp-label {
                display: none;
            }

            // Left-align first color.
            .ecp-rb-default {
                margin-left: 0;
            }
        }
    }

    // Calendar create event popup "What:" field.
    .gcal-textinput {
        font-family: $font-family;
    }
}

// Full page new event.
#calcontent {
    // Event title field.
    .ep-title {
        .textinput {
            font-family: $font-family;
            width: 100%;
        }
    }

    .ep-main {
        .ep-dp {
            // Use full width for "Event details"/"Find a time" tab wrapper.
            width: auto;

            // Event description field.
            .ep-dp-descript {
                textarea.textinput {
                    font-family: $font-family;
                }
            }
        }
    }

    // Increase calendar day font-size.
    .st-dtitle{
        font-size: 16px
    }

    // Add below-the-fold separator.
    .st-grid tr:nth-of-type(13) td > div {
        border-bottom-color: darkgrey;
        border-bottom-style: dashed;
        border-bottom-width: 2px;
    }
}

// Use Google Calendar Classic font.
.yzifAd {
    font-family: Arial, sans-serif;
}

// Use Google Calendar Classic font color for past events.
.g3dbUc.UflSff {
    color: #777 !important;
}

// Use Google Calendar Classic colors.
div[style="background-color:#4285F4;"],
div[style="background-color: rgb(66, 133, 244);"] {
    background-color: #a2c8e7 !important;
    color: #1d1d1d;
}
div[style="background-color:#3F51B5;"],
div[style="background-color: rgb(63, 81, 181);"] {
    background-color: #5b89ed !important;
    color: #1d1d1d;
}
div[style="background-color:#7986CB;"],
div[style="background-color: rgb(121, 134, 203);"] {
    background-color: #a4bdfc !important;
    color: #1d1d1d;
}
div[style="background-color:#039BE5;"],
div[style="background-color: rgb(3, 155, 229);"] {
    background-color: #46d6db !important;
    color: #1d1d1d;
}
div[style="background-color:#33B679;"],
div[style="background-color: rgb(51, 182, 121);"] {
    background-color: #7ae7bf !important;
    color: #1d1d1d;
}
div[style="background-color:#0B8043;"],
div[style="background-color: rgb(11, 128, 67);"] {
    background-color: #51b749 !important;
    color: #1d1d1d;
}
div[style="background-color:#F6BF26;"],
div[style="background-color: rgb(246, 191, 38);"] {
    background-color: #fbd75b !important;
    color: #1d1d1d;
}
div[style="background-color:#F4511E;"] {
    background-color: #ffb878 !important;
    color: #1d1d1d;
}
div[style="background-color:#E67C73;"],
div[style="background-color: rgb(230, 124, 115);"] {
    background-color: #ff887c !important;
    color: #1d1d1d;
}
div[style="background-color:#D50000;"],
div[style="background-color: rgb(213, 0, 0);"] {
    background-color: #dc2127 !important;
    color: #1d1d1d;
}
div[style="background-color:#8E24AA;"],
div[style="background-color: rgb(142, 36, 170);"] {
    background-color: #dbadff !important;
    color: #1d1d1d;
}
div[style="background-color: #616161;"],
div[style="background-color: rgb(97, 97, 97);"] {
    background-color: #e1e1e1 !important;
    color: #1d1d1d;
}

// Remove calendar event leading marker.
.zhRc7[aria-hidden="true"] {
    opacity: 0;
}

// Increase contrast for current calendar day.
.ef2wWc {
    border: 4px solid #333;
}
