// Target calendar events popup without targeting the individual event popup.
[aria-modal="true"][role="dialog"][aria-labelledby] {
    // Testing:
    // border: 5px solid blue;

    border: 5px solid gray;

    // BEGIN fix calendar events popup being too small.

    // Push calendar events popup to fill the available height.
    bottom: 0;
    top: 0 !important;

    // Try to fix list of calendar events going right past viewport.
    left: 0 !important;

    // Increase width of the calendar event popup and shadow.
    min-width: 500px;

    // Make list of events in the popup fill the available vertical space.
    div[role="presentation"]:nth-of-type(2) {
        // Remove "max-height: 480px;".
        max-height: inherit;
    }

    // END fix calendar events popup being too small.
}

// Target individual calendar event popup without targeting the events popup.
[aria-modal="true"][role="dialog"][aria-labelledby][data-layout-mode="bubble"] {
    // Testing:
    // border: 5px solid red;

    border: 5px solid gray;

    // Increase width of the calendar event popup and shadow.
    min-width: 500px;

    [data-eventid] {
        // Testing:
        // background-color: lightgreen;

        max-width: 500px;
        width: 500px;
    }
}

// Loading spinner.
._gcw-spinner {
    left: 212px;
    pointer-events: none;
    position: absolute;
    top: 18px;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 9999;

    // Related to animation:
    animation: spin 1s linear infinite;
    border-bottom-color: #f3f3f3;
    border-left-color: #f3f3f3;
    border-radius: 50%;
    border-right-color: #f3f3f3;
    border-style: solid;
    border-top-color: #555;
    border-width: 3px;
    height: 25px;
    width: 25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Custom View Switcher.
._gcw-custom-view-switcher {
    position: absolute;
    top: 46px;
    right: 4px;
    z-index: 1000;

    a {
        &:hover {
            background-color: #fff;
            border-color: #dadce0;
        }

        border-radius: 4px;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: 12px;
        padding: 5px 4px;
    }
}

// Increase contrast for current calendar day.
._gcw-current-date {
    // Use transparent background to avoid covering calendar events when
    // increasing z-index.
    background-color: transparent !important;

    // Use border as using outline displays inconsistent border widths.
    border-color: rgba(0, 0, 0, .5);
    border-style: solid;
    border-width: 10px 10px 4px 10px;

    // Allow clicking through to the events.
    pointer-events: none;

    // Increase z-index for borders to appear on top of calendar events.
    z-index: 4;
}
